.mobile-menu {
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999 !important;
    opacity: 0;
    transform: translateX(-100vw);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .mobile-menu.active {
    opacity: 1;
    transform: translateX(0);
    display: block;
  }
  
  .mobile-menu-container {
    width: 60vw;
    height: 100vh;
    background-color: rgb(32, 31, 31);
    padding: 2rem;
  }
  
  .mobile-menu img {
    margin-bottom: 3rem;
  }
  
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin-left: -2rem;
  }
  
  @media (max-width: 426px) {
    .mobile-menu {
      display: block;
    }
  }
  